.home-page{

 .text-zone{
  position: absolute;
  left: 18%;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  max-height: 90%;
 }
  h1{
   color: #fff;
   font-size: 53px;
   margin: 0;
   font-family:'Coolvetica' ;
   font-weight: 400;
   &::before{
    content: '<h1>';
    font-family: 'la Belle Aurore';
    font-size: 18px;
    color: #ffd780;
    position: absolute;
    margin-top: -40px;
    left: 15px;
    opacity: 0.6;
   }

   &::after{
    content: '<greet>';
    font-family: 'la Belle Aurore';
    font-size: 18px;
   }
    img{
     width: 32px;
     
     
    }
  }
}